table, th, td {
  border: 1px solid black;
  padding: 4px;
  border-collapse: collapse;
  empty-cells: show;
}

thead {
  background-color: goldenrod;
}

tr:nth-child(even) {
  background-color: lightgrey;
}


tfoot > tr > td {
  height: 20px;
  background-color: yellow;
  border:transparent;
}

#monthlyTotalContainer {
  float: right;
  text-align: right;
}

.overBudget {
  background-color: red;
}
.atBudget {
  background-color: gold;
}

.underBudget {
  background-color: green;
}