table, th, td {
  border: 1px solid black;
  padding: 4px;
  empty-cells: show;
}

thead {
  background-color: goldenrod;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tableFooter {
  height: 20px;
}

#monthlyTotalContainer {
  text-align: right;
  text-emphasis: bold;
}

.overBudget {
  background-color: red;
}
.atBudget {
  background-color: gold;
}

.underBudget {
  background-color: green;
}